@import "../base/extends";

#glandulatimo {
    img {
        width: 100%;
    }

    @extend %publis ;
}







#caminoacasa {  
    img {
        width: 100%;
    }  
    
    @extend %publis ;

}



#nuevoserhumano {   
    img {
        width: 100%;
    }
    
    @extend %publis ;  
    
    
} 

.card-body {
    background-color: nth($colores, 3); 
}
.btn {
    color: black;
    background-color: nth($colores, 2);
    border: none;
}
