#glandulatimo {
    width: 100%;
    background-image: url(../../publicaciones/glandulatimo/multimedia/images/publicacion1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s;
    h2 {
        padding: 300px;
    }
    &:hover {
        background-image: url(../../publicaciones/glandulatimo/multimedia/images/publicacion1-2.jpg);
    }
} 






#caminoacasa {
    
    background-image: url(../../publicaciones/tribuafrica/multimedia/images/tribuafrica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s;
    h2 {
        padding: 140px;
        
    }
    &:hover {
        background-image: url(../../publicaciones/tribuafrica/multimedia/images/tribuafrica1.jpg);
    }
} 




#nuevoserhumano {
    
    background-image: url(../../publicaciones/nuevoserhumano/Multimedia/images/nuevoserhumano.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s;
    h2 {
        padding: 150px;

    }
    &:hover {
        background-image: url(../../publicaciones/nuevoserhumano/Multimedia/images/nuevoserhumano1.jpg);
    }
} 







