 
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body {
    
    background-color: #EBE3E0;   
    
}


h1 {
    text-align: center;
    font-family: 'Macondo', cursive;
    
}



h2 {
    text-align: center;
    font-family: 'Macondo', cursive;
    
}

h3 {
    font-family: 'Macondo', cursive;

}

h4 {
    font-size: 1.5em;
    font-family: 'Macondo', cursive;
}

p {
    font-family: 'Macondo', cursive;
    font-size: 1.5em;
}
